* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    position: relative;
    background-color: hsl(229, 24%, 87%);
    height: 100vh;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-size: cover;
    height: 30%;
    background-image: url(assets/images/bg-sidebar-mobile.svg)
}

.circle {
    margin-top: 70px;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.circle {
    cursor: pointer;
}

.active-btn {
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    border: none;
}

.mid-section {
    padding: 25px;
    position: absolute;
    top: 125px;
    background-color: hsl(0, 0%, 100%);
    height: 55%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid-section h2, h4, h5{
    color: hsl(213, 96%, 18%);
}

.mid-section p{
    color: hsl(231, 11%, 63%);
}

input {
    padding: 15px;
    border: none;
    outline: 2px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    height: 40px;
}

.invalid {
    outline: 2px solid red;
}

.valid {
    outline: 2px solid green;
}

.bottom-section {
    width: 100%;
    height: 8%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 8px;
    text-align: center;
    width: 90px;
    height: 35px;
    background-color: hsl(213, 96%, 18%);
    margin-right: 10px;
    border-radius: 3px;
    color: white;
}

#go-back {
    text-align: center;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(213, 91%, 26%);
}

.arcade, .advanced, .pro{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    outline: 2px solid hsl(231, 11%, 63%);
    height: 18%;
    border-radius: 5px;
}

.selected-state {
    outline: 2px solid hsl(213, 96%, 18%);
    background-color: hsl(217, 100%, 97%);
}

.arcade:hover, .advanced:hover, .pro:hover {
    cursor: pointer;
}

.switch-section {
    background-color: hsl(217, 100%, 97%);
    height: 13%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.switch-color {
    color: hsl(231, 11%, 63%);
}

.add-ons {
    height: 15%;
    outline: 2px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
}

.check-box {
    outline: none;
    width: 8%;
    accent-color: hsl(243, 100%, 62%);
}

.selected-add-ons {
    outline: 2px solid hsl(213, 96%, 18%);
    background-color: hsl(217, 100%, 97%);
}

.lower-font {
    font-size: 14px;
    font-weight: 500;
}

.to-end {
    position: absolute;
    right: 10px;
}

.final {
    padding: 15px;
    height: 40%;
    background-color: hsl(217, 100%, 97%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}












/* /////////////////////////////////////////// */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(243, 100%, 62%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(243, 100%, 62%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* /////////////////////////////////////////// */
